Repository aphp/spark-etl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

.gitlab-ci-test.yml:

.job_test_template: &job_test_definition
  tags:
    - aphp
    - cicd
    - rsareth
  stage: test
  cache:
    key: "${CI_PROJECT_PATH}-${CI_BUILD_REF_SLUG}"
    paths:
      - .m2/repository
  artifacts:
    expire_in: 1 month
    paths:
      - spark-*/target/*-test-suites.zip
  script:
    - |
      MODULE_NAME=$(echo $CI_JOB_NAME | cut -d_ -f3)
      mvn -pl "${MODULE_NAME}" test
      test -d "${MODULE_NAME}/target/surefire-reports" && (cd "${MODULE_NAME}/target/" ; zip -r "${MODULE_NAME}"-test-suites.zip surefire-reports) || :;

.job_common_rules_if: &job_common_rules_if
  '$CI_COMMIT_TAG =~ /^[0-9]+\.[0-9]+\.[0-9]+/ || $CI_COMMIT_BRANCH != null'

job_test_spark-csv:
  <<: *job_test_definition
  rules:
    - if: *job_common_rules_if
      changes:
        - .gitlab-ci.yml
        - .gitlab-ci-test.yml
        - pom.xml
        - build.sh
        - spark-csv/pom.xml
        - spark-csv/**/*

job_test_spark-dataframe:
  <<: *job_test_definition
  rules:
    - if: *job_common_rules_if
      changes:
        - .gitlab-ci.yml
        - .gitlab-ci-test.yml
        - pom.xml
        - build.sh
        - spark-dataframe/pom.xml
        - spark-dataframe/**/*

job_test_spark-hive:
  <<: *job_test_definition
  rules:
    - if: *job_common_rules_if
      changes:
        - .gitlab-ci.yml
        - .gitlab-ci-test.yml
        - pom.xml
        - build.sh
        - spark-hive/pom.xml
        - spark-hive/**/*

job_test_spark-meta:
  <<: *job_test_definition
  rules:
    - if: *job_common_rules_if
      changes:
        - .gitlab-ci.yml
        - .gitlab-ci-test.yml
        - pom.xml
        - build.sh
        - spark-meta/pom.xml
        - spark-meta/**/*

job_test_spark-postgres:
  <<: *job_test_definition
  rules:
    - if: *job_common_rules_if
      changes:
        - .gitlab-ci.yml
        - .gitlab-ci-test.yml
        - pom.xml
        - build.sh
        - spark-postgres/pom.xml
        - spark-postgres/**/*

job_test_spark-quality:
  <<: *job_test_definition
  rules:
    - if: *job_common_rules_if
      changes:
        - .gitlab-ci.yml
        - .gitlab-ci-test.yml
        - pom.xml
        - build.sh
        - spark-quality/pom.xml
        - spark-quality/**/*

job_test_spark-query:
  <<: *job_test_definition
  rules:
    - if: *job_common_rules_if
      changes:
        - .gitlab-ci.yml
        - .gitlab-ci-test.yml
        - pom.xml
        - build.sh
        - spark-query/pom.xml
        - spark-query/**/*

job_test_spark-sync:
  <<: *job_test_definition
  rules:
    - if: *job_common_rules_if
      changes:
        - .gitlab-ci.yml
        - .gitlab-ci-test.yml
        - pom.xml
        - build.sh
        - spark-sync/pom.xml
        - spark-sync/**/*

Fix user ci
  .gitlab-ci.yml
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

Update build.sh
  build.sh
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

Revert build for ci
  build.sh
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

[dataframe]Defaut partitions = 200
  spark-dataframe/src/main/scala/io/frama/parisni/spark/dataframe/DFTool.scala
Due: job_test_spark-dataframe

remove gitlab-ci things
  .gitlab-ci-test.yml
  .gitlab-ci.yml
  build.sh
  ci/settings.xml
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

[Postgres]Handle null values for paramtrized values
  spark-postgres/src/main/scala/io/frama/parisni/spark/postgres/PGTool.scala
Due: job_test_spark-postgres

Add git hooks (xml + scala)
  hooks/pre-commit
  pom.xml
  spark-csv/pom.xml
  spark-dataframe/pom.xml
  spark-dataframe/src/main/scala/io/frama/parisni/spark/dataframe/DFTool.scala
  spark-hive/pom.xml
  spark-meta/pom.xml
  spark-postgres/pom.xml
  spark-quality/pom.xml
  spark-query/pom.xml
  spark-sync/pom.xml
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

formatting
  spark-postgres/src/main/scala/io/frama/parisni/spark/postgres/PGTool.scala
  spark-query/src/main/scala/io/frama/parisni/spark/query/JoinQuery.scala
  spark-query/src/test/scala/io/frama/parisni/spark/query/JoinTest.scala
Due: job_test_spark-postgres, job_test_spark-query

[dataframe]Fix log level
  spark-dataframe/src/main/scala/io/frama/parisni/spark/dataframe/DFTool.scala
Due: job_test_spark-dataframe

Fix readme
  README.md
Due: none

Version upgrade scala 2.12.15 spark 3.3.0
  pom.xml
  spark-dataframe/src/test/scala/io/frama/parisni/spark/dataframe/SparkSessionTestWrapper.scala
  spark-dataframe/src/test/scala/io/frama/parisni/spark/dataframe/TestDfTool.scala
  spark-hive/src/test/scala/io/frama/parisni/spark/hive/HiveToPostgresTest.scala
  spark-hive/src/test/scala/io/frama/parisni/spark/hive/PostgresToHiveTest.scala
  spark-postgres/src/main/scala/io/frama/parisni/spark/postgres/PGTool.scala
  spark-sync/src/test/scala/io/frama/parisni/spark/sync/copy/DeltaToDeltaTest.scala
  spark-sync/src/test/scala/io/frama/parisni/spark/sync/copy/DeltaToPgTest.scala
  spark-sync/src/test/scala/io/frama/parisni/spark/sync/copy/PostgresToDeltaTest.scala
  spark-sync/src/test/scala/io/frama/parisni/spark/sync/copy/SparkSolrFunSuite.scala
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

restored sections in pom
  pom.xml
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

Upgrade to spark 3.4.1, delta 2.4.0
  pom.xml
  spark-postgres/src/test/scala/io/frama/parisni/spark/postgres/DdlTest.scala
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

scala version bumped to 2.12.17
  pom.xml
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

removed commented lines in tests; avoided implicit dependency on scala-reflect:2.12.15
  pom.xml
  spark-postgres/src/test/scala/io/frama/parisni/spark/postgres/DdlTest.scala
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync
