Repository aphp/spark-etl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

job_test_spark-csv:
  tags:
  - aphp
  - cicd
  - rsareth
  stage: test
  cache:
    key: ${CI_PROJECT_PATH}-${CI_BUILD_REF_SLUG}
    paths:
    - .m2/repository
  artifacts:
    expire_in: 1 month
    paths:
    - spark-*/target/*-test-suites.zip
  script:
  - 'MODULE_NAME=$(echo $CI_JOB_NAME | cut -d_ -f3)
  
    mvn -pl "${MODULE_NAME}" test
  
  ...

job_test_spark-dataframe:
  tags:
  - aphp
  - cicd
  - rsareth
  stage: test
  cache:
    key: ${CI_PROJECT_PATH}-${CI_BUILD_REF_SLUG}
    paths:
    - .m2/repository
  artifacts:
    expire_in: 1 month
    paths:
    - spark-*/target/*-test-suites.zip
  script:
  - 'MODULE_NAME=$(echo $CI_JOB_NAME | cut -d_ -f3)
  
    mvn -pl "${MODULE_NAME}" test
  
  ...

job_test_spark-hive:
  tags:
  - aphp
  - cicd
  - rsareth
  stage: test
  cache:
    key: ${CI_PROJECT_PATH}-${CI_BUILD_REF_SLUG}
    paths:
    - .m2/repository
  artifacts:
    expire_in: 1 month
    paths:
    - spark-*/target/*-test-suites.zip
  script:
  - 'MODULE_NAME=$(echo $CI_JOB_NAME | cut -d_ -f3)
  
    mvn -pl "${MODULE_NAME}" test
  
  ...

job_test_spark-meta:
  tags:
  - aphp
  - cicd
  - rsareth
  stage: test
  cache:
    key: ${CI_PROJECT_PATH}-${CI_BUILD_REF_SLUG}
    paths:
    - .m2/repository
  artifacts:
    expire_in: 1 month
    paths:
    - spark-*/target/*-test-suites.zip
  script:
  - 'MODULE_NAME=$(echo $CI_JOB_NAME | cut -d_ -f3)
  
    mvn -pl "${MODULE_NAME}" test
  
  ...

job_test_spark-postgres:
  tags:
  - aphp
  - cicd
  - rsareth
  stage: test
  cache:
    key: ${CI_PROJECT_PATH}-${CI_BUILD_REF_SLUG}
    paths:
    - .m2/repository
  artifacts:
    expire_in: 1 month
    paths:
    - spark-*/target/*-test-suites.zip
  script:
  - 'MODULE_NAME=$(echo $CI_JOB_NAME | cut -d_ -f3)
  
    mvn -pl "${MODULE_NAME}" test
  
  ...

job_test_spark-quality:
  tags:
  - aphp
  - cicd
  - rsareth
  stage: test
  cache:
    key: ${CI_PROJECT_PATH}-${CI_BUILD_REF_SLUG}
    paths:
    - .m2/repository
  artifacts:
    expire_in: 1 month
    paths:
    - spark-*/target/*-test-suites.zip
  script:
  - 'MODULE_NAME=$(echo $CI_JOB_NAME | cut -d_ -f3)
  
    mvn -pl "${MODULE_NAME}" test
  
  ...

job_test_spark-query:
  tags:
  - aphp
  - cicd
  - rsareth
  stage: test
  cache:
    key: ${CI_PROJECT_PATH}-${CI_BUILD_REF_SLUG}
    paths:
    - .m2/repository
  artifacts:
    expire_in: 1 month
    paths:
    - spark-*/target/*-test-suites.zip
  script:
  - 'MODULE_NAME=$(echo $CI_JOB_NAME | cut -d_ -f3)
  
    mvn -pl "${MODULE_NAME}" test
  
  ...

job_test_spark-sync:
  tags:
  - aphp
  - cicd
  - rsareth
  stage: test
  cache:
    key: ${CI_PROJECT_PATH}-${CI_BUILD_REF_SLUG}
    paths:
    - .m2/repository
  artifacts:
    expire_in: 1 month
    paths:
    - spark-*/target/*-test-suites.zip
  script:
  - 'MODULE_NAME=$(echo $CI_JOB_NAME | cut -d_ -f3)
  
    mvn -pl "${MODULE_NAME}" test
  
  ...

Update settings.xml
  ci/settings.xml
Due: none

[dataframe]Add saveFile method
  pom.xml
  spark-dataframe/src/main/scala/io/frama/parisni/spark/dataframe/DFTool.scala
  spark-dataframe/src/test/scala/io/frama/parisni/spark/dataframe/TestDfTool.scala
  spark-sync/src/main/scala/io/frama/parisni/spark/sync/conf/PostgresConf.scala
  spark-sync/src/main/scala/io/frama/parisni/spark/sync/conf/TargetConf.scala
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

Add scalafmt
  .scalafmt.conf
Due: none

Comment tests & fix ssl
  .gitlab-ci.yml
  build.sh
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

Fix test and sonar ssl check
  build.sh
  spark-dataframe/src/test/scala/io/frama/parisni/spark/dataframe/TestDfTool.scala
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

deactivate codequality
  .gitlab-ci.yml
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

Restore tests step
  .gitlab-ci.yml
  README.md
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

[postgres]Add prepared statements
  spark-postgres/src/main/scala/io/frama/parisni/spark/postgres/PGTool.scala
Due: job_test_spark-postgres

[postgres]Fix sqlExec optional params
  spark-postgres/src/main/scala/io/frama/parisni/spark/postgres/PGTool.scala
Due: job_test_spark-postgres

[postgres]Improve pattern matching for prepared
  spark-postgres/src/main/scala/io/frama/parisni/spark/postgres/PGTool.scala
  spark-postgres/src/test/scala/io/frama/parisni/spark/postgres/CrudTest.scala
Due: job_test_spark-postgres

[postgres]Partition bulkinput string & scd1
  spark-postgres/README.rst
  spark-postgres/pom.xml
  spark-postgres/src/main/scala/io/frama/parisni/spark/postgres/PGTool.scala
  spark-postgres/src/test/scala/io/frama/parisni/spark/postgres/CrudTest.scala
  spark-postgres/src/test/scala/io/frama/parisni/spark/postgres/Scd1Test.scala
Due: job_test_spark-postgres

[postgres]use logback instead of log4j
  spark-postgres/pom.xml
  spark-postgres/src/main/logback.xml
  spark-postgres/src/main/resources/log4j.properties
  spark-postgres/src/main/scala/io/frama/parisni/spark/postgres/DataSource.scala
  spark-postgres/src/main/scala/io/frama/parisni/spark/postgres/PGTool.scala
  spark-postgres/src/main/scala/io/frama/parisni/spark/postgres/PostgresConf.scala
  spark-postgres/src/main/scala/postgres/DataSource.scala
  spark-postgres/src/test/resources/logback.xml
  spark-postgres/src/test/scala/io/frama/parisni/spark/postgres/CrudTest.scala
  spark-postgres/src/test/scala/io/frama/parisni/spark/postgres/DdlTest.scala
  spark-postgres/src/test/scala/io/frama/parisni/spark/postgres/Scd2Test.scala
  spark-postgres/src/test/scala/io/frama/parisni/spark/postgres/SparkSessionTestWrapper.scala
  spark-postgres/src/test/scala/io/frama/parisni/spark/postgres/rowconverters/TestPGConverterPerf.scala
Due: job_test_spark-postgres

[postgres]Revert to log4j
  spark-postgres/pom.xml
  spark-postgres/src/main/logback.xml
  spark-postgres/src/test/resources/log4j.properties
  spark-postgres/src/test/resources/logback.xml
Due: job_test_spark-postgres

[postgres]Improve log level & xml format
  .gitignore
  pom.xml
  spark-postgres/pom.xml
  spark-postgres/src/main/scala/io/frama/parisni/spark/postgres/DataSource.scala
  spark-postgres/src/main/scala/io/frama/parisni/spark/postgres/PGTool.scala
  spark-postgres/src/test/scala/io/frama/parisni/spark/postgres/SparkSessionTestWrapper.scala
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

Fix scm
  pom.xml
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

[hive]Allow to pass tables by parameter
  spark-hive/src/main/scala/io/frama/parisni/spark/hive/CopyTablesToOtherDatabase.scala
Due: job_test_spark-hive

[hive]Implement replicate tables of database
  pom.xml
  spark-hive/src/main/scala/io/frama/parisni/spark/hive/CopyTablesToOtherDatabase.scala
  spark-hive/src/test/scala/io/frama/parisni/spark/hive/CopyTablesToOtherDatabaseTest.scala
  spark-hive/src/test/scala/io/frama/parisni/spark/hive/PostgresToHiveTest.scala
  spark-hive/src/test/scala/io/frama/parisni/spark/hive/SparkTestingUtil.scala
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

Fix code for scapegoat
  spark-meta/src/test/scala/io/frama/parisni/spark/meta/ConfigTest.scala
  spark-sync/src/test/scala/io/frama/parisni/spark/sync/copy/DeltaConfTest.scala
  spark-sync/src/test/scala/io/frama/parisni/spark/sync/copy/PostgresConfTest.scala
  spark-sync/src/test/scala/io/frama/parisni/spark/sync/copy/SolrCloudUtil.scala
Due: job_test_spark-meta, job_test_spark-sync

Add scapegoat quality check
  pom.xml
  spark-postgres/src/test/scala/io/frama/parisni/spark/postgres/DdlTest.scala
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

[hive]Filter on managed tables only
  spark-hive/src/main/scala/io/frama/parisni/spark/hive/CopyTablesToOtherDatabase.scala
  spark-hive/src/test/scala/io/frama/parisni/spark/hive/CopyTablesToOtherDatabaseTest.scala
Due: job_test_spark-hive

[hive]Fix pattern matching
  spark-hive/src/main/scala/io/frama/parisni/spark/hive/CopyTablesToOtherDatabase.scala
Due: job_test_spark-hive

Update SolrCloudUtil.scala Comment 1 line in buildCollection
  spark-sync/src/main/scala/io/frama/parisni/spark/sync/conf/DeltaConf.scala
Due: job_test_spark-sync

Update SolrCloudUtil.scala Comment 1 line in buildCollection
  spark-dataframe/src/main/scala/io/frama/parisni/spark/dataframe/DFTool.scala
  spark-sync/src/test/scala/io/frama/parisni/spark/sync/copy/DeltaConfTest.scala
  spark-sync/src/test/scala/io/frama/parisni/spark/sync/copy/PostgresConfTest.scala
  spark-sync/src/test/scala/io/frama/parisni/spark/sync/copy/SolrCloudUtil.scala
Due: job_test_spark-dataframe, job_test_spark-sync

Update build.sh
  build.sh
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

Path conditions:
  job_test_spark-csv: any of: .gitlab-ci.yml, .gitlab-ci-test.yml, pom.xml, build.sh, spark-csv/pom.xml, spark-csv/**/*
  job_test_spark-dataframe: any of: .gitlab-ci.yml, .gitlab-ci-test.yml, pom.xml, build.sh, spark-dataframe/pom.xml, spark-dataframe/**/*
  job_test_spark-hive: any of: .gitlab-ci.yml, .gitlab-ci-test.yml, pom.xml, build.sh, spark-hive/pom.xml, spark-hive/**/*
  job_test_spark-meta: any of: .gitlab-ci.yml, .gitlab-ci-test.yml, pom.xml, build.sh, spark-meta/pom.xml, spark-meta/**/*
  job_test_spark-postgres: any of: .gitlab-ci.yml, .gitlab-ci-test.yml, pom.xml, build.sh, spark-postgres/pom.xml, spark-postgres/**/*
  job_test_spark-quality: any of: .gitlab-ci.yml, .gitlab-ci-test.yml, pom.xml, build.sh, spark-quality/pom.xml, spark-quality/**/*
  job_test_spark-query: any of: .gitlab-ci.yml, .gitlab-ci-test.yml, pom.xml, build.sh, spark-query/pom.xml, spark-query/**/*
  job_test_spark-sync: any of: .gitlab-ci.yml, .gitlab-ci-test.yml, pom.xml, build.sh, spark-sync/pom.xml, spark-sync/**/*
