Repository aphp/spark-etl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

Path conditions:
  job_test_spark-csv: any of: .gitlab-ci*yml, build.sh, pom.xml, spark-csv/pom.xml, spark-csv/src/**/*
  job_test_spark-dataframe: any of: .gitlab-ci*yml, build.sh, pom.xml, spark-dataframe/pom.xml, spark-dataframe/src/**/*
  job_test_spark-hive: any of: .gitlab-ci*yml, build.sh, pom.xml, spark-hive/pom.xml, spark-hive/src/**/*
  job_test_spark-meta: any of: .gitlab-ci*yml, build.sh, pom.xml, spark-meta/pom.xml, spark-meta/src/**/*
  job_test_spark-postgres: any of: .gitlab-ci*yml, build.sh, pom.xml, spark-postgres/pom.xml, spark-postgres/src/**/*
  job_test_spark-quality: any of: .gitlab-ci*yml, build.sh, pom.xml, spark-quality/pom.xml, spark-quality/src/**/*
  job_test_spark-query: any of: .gitlab-ci*yml, build.sh, pom.xml, spark-query/pom.xml, spark-query/src/**/*
  job_test_spark-sync: any of: .gitlab-ci*yml, build.sh, pom.xml, spark-sync/pom.xml, spark-sync/src/**/*

build.sh - Made the maven quieter
  build.sh
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

[sync]Increase solr version
  spark-sync/pom.xml
Due: job_test_spark-sync

[sync]Factorize code
  spark-dataframe/pom.xml
  spark-sync/deltaToSolr.yaml
  spark-sync/pom.xml
  spark-sync/src/main/scala/io/frama/parisni/spark/sync/conf/DeltaConf.scala
  spark-sync/src/main/scala/io/frama/parisni/spark/sync/conf/PostgresConf.scala
  spark-sync/src/main/scala/io/frama/parisni/spark/sync/conf/SolrConf.scala
  spark-sync/src/main/scala/io/frama/parisni/spark/sync/conf/SourceConf.scala
  spark-sync/src/main/scala/io/frama/parisni/spark/sync/conf/TargetConf.scala
  spark-sync/src/main/scala/io/frama/parisni/spark/sync/copy/DeltaToSolr.scala
  spark-sync/src/main/scala/io/frama/parisni/spark/sync/copy/PostgresToDelta.scala
  spark-sync/src/test/scala/io/frama/parisni/spark/sync/copy/DeltaConfTest.scala
  spark-sync/src/test/scala/io/frama/parisni/spark/sync/copy/DeltaToSolrTest.scala
  spark-sync/src/test/scala/io/frama/parisni/spark/sync/copy/PostgresConfTest.scala
  spark-sync/src/test/scala/io/frama/parisni/spark/sync/copy/PostgresToDeltaTest.scala
  spark-sync/src/test/scala/io/frama/parisni/spark/sync/copy/SolrConfTest.scala
Due: job_test_spark-dataframe, job_test_spark-sync

[dataframe]Add delta scd1 support
  spark-dataframe/src/main/scala/io/frama/parisni/spark/dataframe/DFTool.scala
  spark-sync/src/main/scala/io/frama/parisni/spark/sync/Sync.scala
Due: job_test_spark-dataframe, job_test_spark-sync

[sync]Fix solr date max
  spark-dataframe/src/main/scala/io/frama/parisni/spark/dataframe/DFTool.scala
  spark-sync/parquetToSolr.yaml
  spark-sync/src/main/scala/io/frama/parisni/spark/sync/conf/ParquetConf.scala
  spark-sync/src/main/scala/io/frama/parisni/spark/sync/conf/PostgresConf.scala
  spark-sync/src/main/scala/io/frama/parisni/spark/sync/conf/SolrConf.scala
  spark-sync/src/main/scala/io/frama/parisni/spark/sync/conf/TargetConf.scala
  spark-sync/src/main/scala/io/frama/parisni/spark/sync/copy/ParquetToSolr.scala
  spark-sync/src/main/scala/io/frama/parisni/spark/sync/copy/ParquetToSolrYaml.scala
  spark-sync/src/test/scala/io/frama/parisni/spark/sync/copy/ParquetToSolrTest.scala
Due: job_test_spark-dataframe, job_test_spark-sync

[sync]Handle empty solr collection
  spark-sync/src/main/scala/io/frama/parisni/spark/sync/conf/DeltaConf.scala
  spark-sync/src/main/scala/io/frama/parisni/spark/sync/conf/SolrConf.scala
  spark-sync/src/main/scala/io/frama/parisni/spark/sync/conf/TargetConf.scala
Due: job_test_spark-sync

[sync]Fix solr max syntax
  spark-sync/src/main/scala/io/frama/parisni/spark/sync/conf/TargetConf.scala
  spark-sync/src/main/scala/io/frama/parisni/spark/sync/copy/PostgresToDelta.scala
Due: job_test_spark-sync

[sync]Fix solr request handler to get maxDate
  spark-sync/src/main/scala/io/frama/parisni/spark/sync/conf/TargetConf.scala
Due: job_test_spark-sync

.gitlab-ci.yml - Debug
  .gitlab-ci.yml
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

spark-dataframe/pom.xml - Fix - Bad merge so re-added it the dependency
  spark-dataframe/pom.xml
Due: job_test_spark-dataframe

.gitlab-ci.yml - No debug
  .gitlab-ci.yml
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

build.sh - Mvn more verbose
  build.sh
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

build.sh - Not logic to put it so far
  build.sh
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

build.sh - Don't run in parallel
  build.sh
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

build.sh - Finally, export at the end
  build.sh
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

.gitlab-ci.yml - Using the busybox image instead here
  .gitlab-ci.yml
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

[sync]Fix missing delta file
  spark-sync/src/main/scala/io/frama/parisni/spark/sync/conf/DeltaConf.scala
  spark-sync/src/main/scala/io/frama/parisni/spark/sync/conf/PostgresConf.scala
  spark-sync/src/main/scala/io/frama/parisni/spark/sync/conf/TargetConf.scala
Due: job_test_spark-sync

spark-sync/pom.xml - No need to set the groupId
  spark-sync/pom.xml
Due: job_test_spark-sync

[sync]Fix pg -> delta
  spark-sync/src/main/scala/io/frama/parisni/spark/sync/conf/TargetConf.scala
Due: job_test_spark-sync

spark-csv/[...]/CSVTool.scala - Clean - Intellij warning - Set the type and named the boolean parameter
  spark-csv/src/main/scala/io/frama/parisni/spark/csv/CSVTool.scala
Due: job_test_spark-csv

spark-csv/pom.xml - Added the missing dependencies
  spark-csv/pom.xml
Due: job_test_spark-csv

spark-dataframe/pom.xml - Added the missing dependencies
  spark-dataframe/pom.xml
Due: job_test_spark-dataframe

spark-hive/pom.xml - Added the missing dependencies
  spark-hive/pom.xml
Due: job_test_spark-hive

spark-meta/pom.xml - Added the missing dependencies
  spark-meta/pom.xml
Due: job_test_spark-meta

spark-postgres/pom.xml - Added the missing dependencies
  spark-postgres/pom.xml
Due: job_test_spark-postgres

spark-quality/pom.xml - Added the missing dependencies
  spark-quality/pom.xml
Due: job_test_spark-quality

spark-sync/pom.xml - Added the missing dependencies
  spark-sync/pom.xml
Due: job_test_spark-sync

spark-sync/pom.xml - Added a comment
  spark-sync/pom.xml
Due: job_test_spark-sync

spark-sync/pom.xml - Clean - Removed unnecessary properties and repositories because they are provided by the parent
  spark-sync/pom.xml
Due: job_test_spark-sync

pom.xml - Added the repositories to use
  pom.xml
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

pom.xml - Declare all versions of the dependencies to use in the submodules
  pom.xml
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

pom/xml - Fix - Removed the testCompile because it doesn't work here
  pom.xml
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

.gitlab-ci-test.yml - Reactivated the test for spark-postgres, spark-query and spark-sync
  .gitlab-ci-test.yml
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

spark-hive - Removed plugin configuration because they are provided by the parent
  spark-hive/pom.xml
Due: job_test_spark-hive

spark-meta/pom.xml - Removed the version because it is provided by the parent
  spark-meta/pom.xml
Due: job_test_spark-meta

spark-query/pom.xml - Fix - Added the missing dependencies
  spark-query/pom.xml
Due: job_test_spark-query

spark-postgres/[...]/DdlTest.scala - Added a missing package
  spark-postgres/src/test/scala/io/frama/parisni/spark/postgres/DdlTest.scala
Due: job_test_spark-postgres

spark-sync/pom.xml - Removed the version and forgot to close
  spark-sync/pom.xml
Due: job_test_spark-sync

.gitlab-ci.yml - Deploy only when it is a tag or on branch dev
  .gitlab-ci.yml
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

[dataframe]Add robust saveHive
  spark-dataframe/src/main/scala/io/frama/parisni/spark/dataframe/DFTool.scala
Due: job_test_spark-dataframe
