Repository aphp/spark-etl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

job_test_spark-csv:
  tags:
  - aphp
  - cicd
  - rsareth
  stage: test
  cache:
    key: ${CI_PROJECT_PATH}-${CI_BUILD_REF_SLUG}
    paths:
    - .m2/repository
  artifacts:
    expire_in: 1 month
    paths:
    - spark-*/target/*-test-suites.zip
  script:
  - 'MODULE_NAME=$(echo $CI_JOB_NAME | cut -d_ -f3)
  
    mvn -pl "${MODULE_NAME}" test
  
  ...

job_test_spark-dataframe:
  tags:
  - aphp
  - cicd
  - rsareth
  stage: test
  cache:
    key: ${CI_PROJECT_PATH}-${CI_BUILD_REF_SLUG}
    paths:
    - .m2/repository
  artifacts:
    expire_in: 1 month
    paths:
    - spark-*/target/*-test-suites.zip
  script:
  - 'MODULE_NAME=$(echo $CI_JOB_NAME | cut -d_ -f3)
  
    mvn -pl "${MODULE_NAME}" test
  
  ...

job_test_spark-hive:
  tags:
  - aphp
  - cicd
  - rsareth
  stage: test
  cache:
    key: ${CI_PROJECT_PATH}-${CI_BUILD_REF_SLUG}
    paths:
    - .m2/repository
  artifacts:
    expire_in: 1 month
    paths:
    - spark-*/target/*-test-suites.zip
  script:
  - 'MODULE_NAME=$(echo $CI_JOB_NAME | cut -d_ -f3)
  
    mvn -pl "${MODULE_NAME}" test
  
  ...

job_test_spark-meta:
  tags:
  - aphp
  - cicd
  - rsareth
  stage: test
  cache:
    key: ${CI_PROJECT_PATH}-${CI_BUILD_REF_SLUG}
    paths:
    - .m2/repository
  artifacts:
    expire_in: 1 month
    paths:
    - spark-*/target/*-test-suites.zip
  script:
  - 'MODULE_NAME=$(echo $CI_JOB_NAME | cut -d_ -f3)
  
    mvn -pl "${MODULE_NAME}" test
  
  ...

job_test_spark-postgres:
  tags:
  - aphp
  - cicd
  - rsareth
  stage: test
  cache:
    key: ${CI_PROJECT_PATH}-${CI_BUILD_REF_SLUG}
    paths:
    - .m2/repository
  artifacts:
    expire_in: 1 month
    paths:
    - spark-*/target/*-test-suites.zip
  script:
  - 'MODULE_NAME=$(echo $CI_JOB_NAME | cut -d_ -f3)
  
    mvn -pl "${MODULE_NAME}" test
  
  ...

job_test_spark-quality:
  tags:
  - aphp
  - cicd
  - rsareth
  stage: test
  cache:
    key: ${CI_PROJECT_PATH}-${CI_BUILD_REF_SLUG}
    paths:
    - .m2/repository
  artifacts:
    expire_in: 1 month
    paths:
    - spark-*/target/*-test-suites.zip
  script:
  - 'MODULE_NAME=$(echo $CI_JOB_NAME | cut -d_ -f3)
  
    mvn -pl "${MODULE_NAME}" test
  
  ...

job_test_spark-query:
  tags:
  - aphp
  - cicd
  - rsareth
  stage: test
  cache:
    key: ${CI_PROJECT_PATH}-${CI_BUILD_REF_SLUG}
    paths:
    - .m2/repository
  artifacts:
    expire_in: 1 month
    paths:
    - spark-*/target/*-test-suites.zip
  script:
  - 'MODULE_NAME=$(echo $CI_JOB_NAME | cut -d_ -f3)
  
    mvn -pl "${MODULE_NAME}" test
  
  ...

job_test_spark-sync:
  tags:
  - aphp
  - cicd
  - rsareth
  stage: test
  cache:
    key: ${CI_PROJECT_PATH}-${CI_BUILD_REF_SLUG}
    paths:
    - .m2/repository
  artifacts:
    expire_in: 1 month
    paths:
    - spark-*/target/*-test-suites.zip
  script:
  - 'MODULE_NAME=$(echo $CI_JOB_NAME | cut -d_ -f3)
  
    mvn -pl "${MODULE_NAME}" test
  
  ...

pom.xml - Using the version set in the property
  pom.xml
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

[dataframe]Add save and validation functions
  spark-dataframe/pom.xml
  spark-dataframe/src/main/scala/io/frama/parisni/spark/dataframe/DFTool.scala
Due: job_test_spark-dataframe

spark-quality/[..]/ConstraintsTest.scala - Fix from Nicolas on the scapegoat error
  spark-quality/src/test/scala/io/frama/parisni/spark/quality/ConstraintsTest.scala
Due: job_test_spark-quality

pom.xml - Commented the configuration for scapegoat
  pom.xml
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

pom.xml - Commented all ref to scapegoat
  pom.xml
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

children's pom.xml - Removed the tags sourceDirectory and testSourceDirectory
  spark-csv/pom.xml
  spark-dataframe/pom.xml
  spark-hive/pom.xml
  spark-meta/pom.xml
  spark-postgres/pom.xml
  spark-quality/pom.xml
  spark-query/pom.xml
  spark-sync/pom.xml
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

pom.xml - Set the path to the source and test source directory in the plugin configuration
  pom.xml
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

[CICD] Release: 1.0.11
  pom.xml
  spark-csv/pom.xml
  spark-dataframe/pom.xml
  spark-hive/pom.xml
  spark-meta/pom.xml
  spark-postgres/pom.xml
  spark-quality/pom.xml
  spark-query/pom.xml
  spark-sync/pom.xml
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

[CICD] Snapshot: 1.0.12-SNAPSHOT
  pom.xml
  spark-csv/pom.xml
  spark-dataframe/pom.xml
  spark-hive/pom.xml
  spark-meta/pom.xml
  spark-postgres/pom.xml
  spark-quality/pom.xml
  spark-query/pom.xml
  spark-sync/pom.xml
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

[dataframe]Handle hive overwrite, file already exists
  spark-dataframe/src/main/scala/io/frama/parisni/spark/dataframe/DFTool.scala
Due: job_test_spark-dataframe

[hive]Improve parquet datasource
  spark-dataframe/src/main/scala/io/frama/parisni/spark/dataframe/DFTool.scala
  spark-hive/src/main/scala/io/frama/parisni/spark/hive/PostgresToHive.scala
Due: job_test_spark-dataframe, job_test_spark-hive

[CICD] Release: 1.0.12
  pom.xml
  spark-csv/pom.xml
  spark-dataframe/pom.xml
  spark-hive/pom.xml
  spark-meta/pom.xml
  spark-postgres/pom.xml
  spark-quality/pom.xml
  spark-query/pom.xml
  spark-sync/pom.xml
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

[CICD] Snapshot: 1.0.13-SNAPSHOT
  pom.xml
  spark-csv/pom.xml
  spark-dataframe/pom.xml
  spark-hive/pom.xml
  spark-meta/pom.xml
  spark-postgres/pom.xml
  spark-quality/pom.xml
  spark-query/pom.xml
  spark-sync/pom.xml
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

[meta]fix is_active column
  spark-meta/src/main/scala/io/frama/parisni/spark/meta/Constants.scala
  spark-meta/src/main/scala/io/frama/parisni/spark/meta/MetaLoader.scala
  spark-meta/src/main/scala/io/frama/parisni/spark/meta/MetaSync.scala
Due: job_test_spark-meta

[dataframe]Restore deprecated save function
  spark-dataframe/src/main/scala/io/frama/parisni/spark/dataframe/DFTool.scala
Due: job_test_spark-dataframe

remove tags
  .gitlab-ci.yml
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

Update .gitlab-ci-test.yml
  .gitlab-ci-test.yml
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

[dataframe]Make scd1 delta both path and database
  spark-dataframe/src/main/scala/io/frama/parisni/spark/dataframe/DFTool.scala
  spark-dataframe/src/test/scala/io/frama/parisni/spark/dataframe/TestDfTool.scala
Due: job_test_spark-dataframe

[query]Fix test
  spark-query/src/test/scala/io/frama/parisni/spark/query/EventTest.scala
Due: job_test_spark-query

[sync]Handle delta regular tables (VS path)
  spark-sync/pom.xml
  spark-sync/src/main/scala/io/frama/parisni/spark/sync/conf/DeltaConf.scala
  spark-sync/src/main/scala/io/frama/parisni/spark/sync/conf/SolrConf.scala
Due: job_test_spark-sync

.gitlab-ci.yml - Install zip cli
  .gitlab-ci.yml
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

.gitlab-ci.yml - Use the same docker image like the others
  .gitlab-ci.yml
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

[dataframe]Fix scd1 delta
  spark-dataframe/src/main/scala/io/frama/parisni/spark/dataframe/DFTool.scala
Due: job_test_spark-dataframe

[sync]Fix postgresToDelta
  spark-sync/src/main/scala/io/frama/parisni/spark/sync/conf/DeltaConf.scala
  spark-sync/src/main/scala/io/frama/parisni/spark/sync/conf/PostgresConf.scala
  spark-sync/src/main/scala/io/frama/parisni/spark/sync/conf/TargetConf.scala
Due: job_test_spark-sync

[postgres]Add get connection
  spark-dataframe/src/main/scala/io/frama/parisni/spark/dataframe/DFTool.scala
  spark-postgres/src/main/scala/io/frama/parisni/spark/postgres/PGTool.scala
Due: job_test_spark-dataframe, job_test_spark-postgres

delta-lake ->0.6
  spark-hive/pom.xml
Due: job_test_spark-hive

.gitlab-ci.yml - remove gitlab tags
  .gitlab-ci.yml
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

add proxy for mvn
  ci/settings.xml
Due: none

add proxy
  build.sh
  ci/settings.xml
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

deactivate deploy ssl check
  build.sh
  ci/settings.xml
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

proxy true by default
  build.sh
  ci/settings.xml
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

remove sonatype
  pom.xml
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

shift
  .gitlab-ci-test.yml
  build.sh
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

let
  .gitlab-ci-test.yml
  build.sh
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

scroll
  build.sh
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

X
  build.sh
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

shell debug
  build.sh
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

add ssl revocation off
  build.sh
Due: job_test_spark-csv, job_test_spark-dataframe, job_test_spark-hive, job_test_spark-meta, job_test_spark-postgres, job_test_spark-quality, job_test_spark-query, job_test_spark-sync

Update settings.xml
  ci/settings.xml
Due: none

Path conditions:
  job_test_spark-csv: any of: .gitlab-ci.yml, .gitlab-ci-test.yml, pom.xml, build.sh, spark-csv/pom.xml, spark-csv/**/*
  job_test_spark-dataframe: any of: .gitlab-ci.yml, .gitlab-ci-test.yml, pom.xml, build.sh, spark-dataframe/pom.xml, spark-dataframe/**/*
  job_test_spark-hive: any of: .gitlab-ci.yml, .gitlab-ci-test.yml, pom.xml, build.sh, spark-hive/pom.xml, spark-hive/**/*
  job_test_spark-meta: any of: .gitlab-ci.yml, .gitlab-ci-test.yml, pom.xml, build.sh, spark-meta/pom.xml, spark-meta/**/*
  job_test_spark-postgres: any of: .gitlab-ci.yml, .gitlab-ci-test.yml, pom.xml, build.sh, spark-postgres/pom.xml, spark-postgres/**/*
  job_test_spark-quality: any of: .gitlab-ci.yml, .gitlab-ci-test.yml, pom.xml, build.sh, spark-quality/pom.xml, spark-quality/**/*
  job_test_spark-query: any of: .gitlab-ci.yml, .gitlab-ci-test.yml, pom.xml, build.sh, spark-query/pom.xml, spark-query/**/*
  job_test_spark-sync: any of: .gitlab-ci.yml, .gitlab-ci-test.yml, pom.xml, build.sh, spark-sync/pom.xml, spark-sync/**/*
